@font-face {
  font-family: 'Exo-Regular';
  src: url('../fonts/Exo2.0-Regular_0.eot');
  src: url('../fonts/Exo2.0-Regular_0.eot') format('embedded-opentype'),
  url('../fonts/Exo2.0-Regular_0.woff') format('woff'),
  url('../fonts/Exo2.0-Regular_0.ttf') format('truetype'),
  url('../fonts/Exo2.0-Regular_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'Exo-ExtraBold';  
src: url('../fonts/Exo2.0-ExtraBold_0.eot');  
src: local('☺'), url('../fonts/Exo2.0-ExtraBold_0.woff') 
format('woff'), url('../fonts/Exo2.0-ExtraBold_0.ttf') format('truetype'), 
url('../fonts/Exo2.0-ExtraBold_0.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Exo-Light';
src: url('../fonts/Exo2.0-Light_0.eot');
src: local('☺'), url('../fonts/Exo2.0-Light_0.woff') format('woff'), 
url('../fonts/Exo2.0-Light_0.ttf') format('truetype'), 
url('../fonts/Exo2.0-Light_0.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Exo-Bold';
src: url('../fonts/Exo2.0-Bold_0.eot');
src: local('☺'), url('../fonts/Exo2.0-Bold_0.woff') format('woff'), 
url('../fonts/Exo2.0-Bold_0.ttf') format('truetype'), 
url('../fonts/Exo2.0-Bold_0.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'FontAwesome';
src: url('../fonts/fontawesome-webfont.eot');
src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), 
url('../fonts/fontawesome-webfont.ttf') format('truetype'), 
url('../fonts/fontawesome-webfont.svg') format('svg');
font-weight: normal;
font-style: normal;
}