

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

}

.clearfix() {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;
    }
}

@colorwhite: #ffffff;
@colorblack: #000;
@colorblue: #2067ae;
@buttoncollor_1: #41c4c8;
@buttoncollor_2: #2068ae;
@border_h1: data-uri('../img/border_h1.png');
@border_h2: data-uri('../img/border_h2.png');
@border_elements: data-uri('../img/border_elements.png');
@marker_block_4: data-uri('../img/marker_block_4.png');
@price-ligth: data-uri('../img/border_prise_ligth_blue.png');
@price-darck: data-uri('../img/border_prise_darck_blue.png');
@quortes_open: data-uri('../img/quortes_1.png');
@quortes_closet: data-uri('../img/quortes_2.png');
// @border_form: data-uri(../img/border_form.png);
@tip_form: data-uri('../img/tip.png');
@phone_form: data-uri('../img/phone.png');
@line_footer: data-uri('../img/footer_line.png');




.animation(@_type_animate: scale(1.15,1.15), @_time: 350ms, @_type_enter: ease-out){
  transform: @_type_animate;
  -webkit-transform: @_type_animate;
  -webkit-transition-timing-function: @_type_enter;
  -webkit-transition-duration:@_time;
  -moz-transform: @_type_animate;
  -moz-transition-timing-function: @_type_enter;
  -moz-transition-duration: @_time;
}

.font-basic(@_font: 'Exo-Regular', @_size: 16px, @_heigth: none, @_color: @colorwhite, @_align: center, @_upper: none){
font-size: @_size;
font-family: @_font;
line-height: @_heigth;
color: @_color;
text-align: @_align;
text-transform: @_upper;
}
.font-h2(@_font: 'Exo-ExtraBold', @_size: 40px, @_color: @colorblack, @_align: center){
  font-family: @_font;
  font-size: @_size;
  color: @_color;
  text-align: @_align;
  
}

.border-basic(@_size: 40px, @_border: none, @_animate: none, @_time: .3s){
  -webkit-border-radius: @_size;
  border-radius: @_size;
  border: @_border;
  & when (@_animate = true) {.animation(@_time);}
}

.button-basic(@_bg: linear-gradient(to top, @buttoncollor_2, @buttoncollor_1)){
  background: @_bg;
  .font-basic(@_size: 20px, @_color: @colorwhite);
  .border-basic();
  &:focus{
    border: none;
  }
}
.price-basic(@_height: 157px, @_width: 157px, @_bg: #2bbca9, @_br: 80px){
  height: @_height;
  width: @_width;
  background: @_bg;
  border-radius: @_br;  
}
.font-price(@_font: 'Exo-Regular', @_size: 20px, @_color: @colorwhite, @_align: center, @_dec: line-through, @_line: 36px){
    font-family: @_font;
    font-size: @_size;
    color: @_color;
    text-align: @_align;
    text-decoration: @_dec;
    line-height: @_line;
}