@import 'mixing';
@import 'fonts';
.header{
	.container{
		.row{
			.logo{
				margin: 30px auto 20px auto;
			}
			.call{
				margin-top: 30px;
				margin-bottom: 30px;
				p{
					.font-basic(@_font: 'Exo-ExtraBold', @_size: 24px, @_color: @colorblack, @_align: left);
					float: right;
				}
				a{
					.font-basic(@_font: 'Exo-Light', @_color: @colorblue, @_align: left);
					float: right;
					text-decoration: none;
					border-bottom: 1px dotted @colorblue;
				}	
			}
		}
	}
}
.main{
	.bg_1-2{
		background: url(../img/volna.png) center 45% no-repeat;
	}
	.block-1{
		height: 690px;
		background: url(../img/bg_block-1.png) center no-repeat;
		.container{
			.row{
				h1{
					.font-basic(@_font: 'Exo-ExtraBold', @_size: 85px, @_align: left, @_upper: uppercase);
					margin: 165px auto 26px auto;
					&:before{
						content: @border_h1;
						margin-right: 20px;
					}
				}
				h4{
					.font-basic(@_font: 'Exo-Light', @_size: 30px, @_align: left);
					margin-bottom: 35px;
					margin-left: 20px;
					a{
						color: @colorblue;
					}
				}
				button{
					.button-basic();
					padding: 25px 60px;
					margin-left: 20px;
					&:hover{
						background: linear-gradient(to top, @buttoncollor_2, @buttoncollor_1)
					}
					&:focus{
						outline: none;
					}
				}
				.shower{
					position: relative;
					img{
						position: absolute;
						margin-left: -300px;
						margin-top: 80px;
					}
				}
			}
		}
	}
	.block-2{
		height: 780px;
		// background: url('../img/bg_block-2.png') top no-repeat; 
		.container{
			.row{
				h2{
					.font-h2();
					margin: 15px auto;
					&:after{
						margin: 20px 120px;
						content: @border_h2;
					}
				}
			}
			.row{
				.elements{
					text-align: center;
					/* img{
						&:after{
							content: @border_elements;
							position: absolute;
						}
					} */
					h3{
						.font-basic(@_font: 'Exo-Bold', @_size: 28px, @_color: @colorblue);
						&:before{
							content: @border_elements;
							position: absolute;
							margin: -30px 60px;
						}
					}
					p{
						.font-basic(@_color: @colorblack);	
					}
				}

			}
			.question{
				text-align: center;
				// position: absolute;
				margin: 10% 0%;
				img{
					// position: absolute;
					// margin: -14% 27%;
				}
			}
		}
	}
	.bg_3-4{
		min-height: 1855px;
		background: url('../img/bg_block-3-4.png') center 1% no-repeat;
	.block-3{
		// background: url('../img/bg_block-3.png') center no-repeat;
		// height: 780px;
		.container{
			.row{
				h2{
					.font-h2();
					margin: 140px auto;
					margin-bottom: 15px;
					&:after{
						margin: 20px 120px;
						content: @border_h2;
					}
					span{
						color: @colorblue;
					}
				}
				
			}
			.row{
				button{
					.button-basic();
					padding: 25px 60px;
					margin-top: 30px;
					margin-bottom: 60px;
					&:focus{
						outline: none;
					}
				}
				.modal_1{
					text-align: center;
				}
				.modal_2{
					button{
						float: right;
							&:focus{
							outline: none;
						}
					}
				}
			}	
		}
	}
	.block-4{
		// height: 780px;
		// background: url('../img/bg_block_4.png') center no-repeat;
		.container{
			.row{
				h2{
					.font-h2(@_color: @colorwhite);
					margin: 25% auto;
					margin-bottom: 50px;
					&:after{
						margin: 20px 120px;
						content: @border_h2;
					}
					span{
						color: @colorblue;
					}
				}
				
			}
			.row{
				#slider{
					#carousel-bounding-box{
						.carousel{
							.carousel-inner{
								margin: 0 auto;
								max-width: 410px;
								.item{
									img{
										margin: 0 auto;		
									}									
								}
							}
							.carousel-control{
								opacity: 1;
								top: 45%;
								margin: auto -20px;
								background-image: none;
							}
						}
					}					
					#carousel-text{
						position: absolute;
						margin-left: 585px;
						p{
							.font-basic(@_align: left);
							line-height: 20px;
							margin-bottom: 30px;
						}
						ul{
							margin-left: 18px;
							li{
								list-style-image: @marker_block_4;
								list-style-position: outside;
								.font-basic(@_align: left);
							}
						}						
					}					
				}						
			}
			#slider-thumbs{
				margin-left: 90px;
					.hide-bullets{
						.thumbs{
							width: 125px;
							margin: 8px;
							float: left;
							list-style-type: none;
						}
					}
				}		
			}	
		}
	}
	.block-5{
		background: url('../img/bg_block-5.png') top no-repeat;
		.container{
			.row{
				h2{
					.font-h2();
					margin: 12% auto;
					&:after{
						margin: 20px 120px;
						content: @border_h2;
					}
				}
			}
			.order{
				.order-goods{
				margin-left: 60px;	
					.price-ligth{
					position: absolute;
					margin: -20px auto auto 1px;					
						.price-basic();
						.old-price{
							margin-top: 50px;
							.font-price();
						}
						.new-price{
							.font-price(@_font: 'Exo-Bold', @_size: 36px, @_dec: none, @_line: 0px);
						}
						&:before{
							margin: 17px -8px;
							position: absolute;
							content: @price-ligth;

						}
					}
					.promo-order{
						text-align: center;
						img{
							
						}
						button{
							padding: 20px 70px;
							.button-basic();
								&:focus{
									outline: none;
							}
						}
					}
				}
				.order-goods{
					margin-left: 60px;
					.price-darck{
					position: absolute;
					margin: -20px auto auto 5px;					
						.price-basic(@_bg: #2067ad);
						.old-price{
							margin-top: 50px;
							.font-price();
						}
						.new-price{
							.font-price(@_font: 'Exo-Bold', @_size: 36px, @_dec: none, @_line: 0px);
						}
						&:before{
							margin: 17px -8px;
							position: absolute;
							content: @price-darck;

						}
					}
				}					
			}			
		}
	}
	.block-6{
		margin-top: 30px;
		min-height: 950px;
		background: url('../img/bg_block-6.png') center no-repeat;
		.container{
			.row{
				h2{
					.font-h2(@_color:@colorwhite);
					margin: 15px auto;
					margin-top: 150px;
					&:after{
						margin: 20px 180px;
						content: @border_h2;
					}
				}
			}
			.row{
				#media{
					margin: 0 auto;
					.carousel-control{
						background-image: none;
						opacity: 1;
					}
				}
			}
		}
	}
	.block-7{
		.container{
			.row{
				h2{
					.font-h2();
					margin: 15px auto;
					&:after{
						margin: 20px 180px;
						content: @border_h2;
					}
				}
			}
			.row{
				.user{
					h5{
						.font-basic(@_font: 'Exo-Bold', @_size:20px, @_color: @colorblue);
					}
					p{
						.font-basic(@_size:14px, @_color: @colorblack);	
					}
				}
				.content{
					margin-top: 20px;
					padding-left: 0px;
					padding-right: 0px;
					z-index: 3;
					p{
						.font-basic(@_font: 'Exo-Bold', @_size:17px, @_color: @colorblack, @_align: left);
						line-height: 22px;
						margin-bottom: 40px;		
					}
					
				}
				.quortes_open{
					content: @quortes_open;
				}
				.quortes_closet{
					content: @quortes_closet;
					margin-top: 28%;
					z-index: 3;
				}
			}
			.row{
				.water{
					img{
						position: absolute;
						margin: -40px -385px;
						z-index: 2;
					}			
				}
				.guarantee{
					// position: absolute;
					z-index: 1;
					padding-left: 0px;
					padding-right: 0px;
					margin: 20px auto;
					border: 4px solid rgba(238,246,244,.5);
					width: 750px;
					h3{
						.font-h2(@_color: @colorblue, @_align: left);
						margin: 40px auto 20px 110px;
					}
					p{
						.font-basic(@_font: 'Exo-Bold', @_size:18px, @_color: @colorblack, @_align: left);
						margin:auto auto 55px 110px;
					}
				}
				.money{
					// position: absolute;
					z-index: 2;
					margin-top: -81px;
					margin-left: -75px;
				}			
			}
		}
	}
	.block-8{
		margin-top: 35px;
		// тимчасово
		min-height: 760px;
		background: url(../img/bg_block_8.png) center no-repeat;
		.container{
			.row{
				h2{
					.font-h2(@_color: @colorwhite);
					margin-top: 100px;
					margin-bottom: 75px;
					&:after{
						margin: 20px 180px;
						content: @border_h2;
					}
				}
			}
			.row{
				  .acordeon{
				  	.wrap{

				  		.head{
				  			cursor: pointer;
				  			background: url(../img/bg_acordeon_closet.png) repeat;
				  			p{
				  				.font-basic(@_font: 'Exo-Bold', @_size:19px, @_align: left);
				  				padding-top: 20px;
				  				margin-left: 25px;
				  				padding-bottom: 20px;
				  				width: 90%;
				  			}
				  			img{
								// .animation(@_type_animate: rotate(90deg), @_time: 500ms, @_type_enter: ease-out);
				  				position: absolute;
				  				margin: -4.5% 92%;
				  			}
				  		}
				  		.content{
				  			// display: none;
				  			// transition: all 1s cubic-bezier(.67,.6,.09,1.45);
				  			overflow: hidden;
				  			p{
				  				.font-basic(@_size: 17px, @_align: left);
				  				margin: 20px auto 20px 25px;
				  			}   
				  		}
				  	}
				  	.open{
				  		.head{
				  			background: url(../img/bg_acordeon_active.png) repeat;
				  			img{
								.animation(@_type_animate: rotate(90deg), @_time: 500ms, @_type_enter: ease-out);
				  			}  
				  		}
				  		.content{
				  			background-image: transparent;
				  			p{
				  				.font-basic(@_size:17px, @_align: left);
				  				margin: 20px auto 20px 25px;
				  			}				  			    
				  		}
				  	}
				}
			}
		}
	}
	.block-9{
		.container{
			.row{
				h3{
					.font-h2(@_size: 36px, @_color: @colorblack);
					margin-top: 15px;
					span{
						.font-h2(@_size: 48px, @_color: @colorblue, @_align: left);
					}	
				}
				p{
					.font-basic(@_size:28px, @_color: @colorblack, @_align: left);
				}
				form{
					&:before{
							position: absolute;
							content: @tip_form;
							margin: 31px 180px;
						}
					&:after{
							position: absolute;
							content: @phone_form;
							margin: -45px -249px;
						}
					input{
						margin: 10px auto;
						background: url(../img/bg_form.png) repeat;
						width: 345px;
						height: 55px;
						margin-left: 155px;
						border-left: 4px solid #40c5c7;
						.font-basic(@_size:16px, @_color: @colorblack, @_align: left);
						padding: 0px 50px;						
						&::-webkit-input-placeholder { 
							.font-basic(@_size:16px, @_color: @colorblack, @_align: left); 
						}
						&::-moz-placeholder{ 
							.font-basic(@_size:16px, @_color: @colorblack, @_align: left); 
						} 
						&:-moz-placeholder{ 
							.font-basic(@_size:16px, @_color: @colorblack, @_align: left); 
						} 
						&:-ms-input-placeholder{ 
							.font-basic(@_size:16px, @_color: @colorblack, @_align: left); 
						}
					}
					
					button{
						padding: 20px 70px;
						.button-basic();
						margin: 20px auto 20px 205px;
							&:focus{
								outline: none;
							}
					}
				}
				.order{
					.price-ligth{
					position: absolute;
					margin: 243px auto auto -95px;					
						.price-basic();
						.old-price{
							margin-top: 50px;
							.font-price();
						}
						.new-price{
							.font-price(@_font: 'Exo-Bold', @_size: 36px, @_dec: none, @_line: 0px);
						}
						&:before{
							margin: 17px -8px;
							position: absolute;
							content: @price-ligth;

						}
					}
				}
			}
		}
	}	
}
.footer{
	background: #07284a;
	.container{
		.logo{
			img{
				margin: 45px auto;
			}
		}
		.contact{
			ul{
				margin: 35px auto;
				li{
					list-style-type: none;
					.font-basic(@_size: 14px, @_align: left);
					a{
						.font-basic(@_size: 14px, @_align: left);
						text-decoration: none;	
					}
				}
			}
			&:before{
				content: @line_footer;
				position: absolute;
				margin: 20px -110px;
			}
		}
		.phone{
			ul{
				list-style-type: none;
				margin: 35px auto;
				.font-basic(@_size: 14px, @_align: left);
				float: right;
			}
			&:before{
				content: @line_footer;
				position: absolute;
				margin: 20px -100px;
			}
		}	
	}

}


